/* Add CSS Styling */
.pink {
    background-color: rgb(255, 182, 193);
    font-family: "Verdana" "DejaVu Sans" "sans-serif";
}

.pink.size{
    font-size: 24px;
}

#big-blue {
    font-size: 36px;
    color: rgb(0, 0, 255);
}

#bold-green-back{
    background-color: 	rgb(144 238 144);
    font-weight: bold;
}