/* Add CSS Styling */

.black,.yellow{
    font-family: Helvetica , "Times New Roman", sans-serif;
    font-size: 28px;
}

.black {
    background-color: rgb(0,0,0);
    color: rgb(250,250,250);
}

.yellow {
    background-color: rgb(250,250,0);
}